.MuiTableCell-head {
  color: #fff !important;
  background-color: black !important;
  text-align: center !important;
}

.MuiTableCell-root {
  text-align: center !important;
}

.loading-style {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}